.footer-links{
    width: 100%;
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f6f6f6;

    .footer-links_items{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto 5rem;
        
        padding: 0;
        width: fit-content;
        height: fit-content;
        color: set-txt-color($first-color);
    }

    .socal-icon{ 
         
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 5rem 5rem 5rem 0;
        
        padding: 0;
        width: fit-content;
        height: fit-content;
        color: set-txt-color($first-color);
    }

    a{
        
        cursor: pointer;
    }
    footer{
        margin: auto 2rem;
        text-align: left;
    }
}