.socal-icon_links{
         
        a{ 
            cursor: pointer;
            padding: 0.5rem;  
            font-size: 1.1em;
            @include transition-ease;
            border: solid 1px set-txt-color($first-color);
            border-radius: 4px;
            margin: 0.5rem;
            
            & i > .label{
                display: none;
            }
        }
        a:hover{
            color: $second-color; 
            border-color: $second-color;
            @include transition-ease;
        } 
        
    

 
}