.offer{
    width: 100%;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        
    &_items1{
            margin: auto 0;  
            
            & h1, p, h2{
                text-align: center;
            }
            & h2{
                color: $second-color;
            }
            & p{
                margin: auto 5rem;
            }
            & h2 span{
                text-decoration: line-through;
                color: set-txt-color($first-color);
            }  
        }
    .offer_items2{
        margin: auto 0; 
        text-align: left; 
       
        img{
            padding: 0.5rem;
            width: auto;
            height: 80vh;
            cursor: pointer;
            @include transition-ease;
             
        } 
        img:hover{
            padding: 0.2rem;
            @include transition-ease;
        }
    
    }
    
}